@import "tailwindcss";

html {
  scrollbar-width: none;
  background-color: black;
  user-select: none;
  cursor: url('/public/cursor/cursor.svg') 32 22, auto;
}

a, button, .hoverable {
  cursor: url('/public/cursor/cursor-pointer.svg') 6 4, pointer;
}

html::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: 'ClashDisplay';
  src: url('/src/assets/fonts/ClashDisplay-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'ClashDisplayM';
  src: url('/src/assets/fonts/ClashDisplay-Medium.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'ClashDisplayR';
  src: url('/src/assets/fonts/ClashDisplay-Regular.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'ClashDisplayL';
  src: url('/src/assets/fonts/ClashDisplay-Light.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'JetBrainsM';
  src: url('/src/assets/fonts/JetBrainsMono-Medium.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

.font-clash {
  font-family: 'ClashDisplay', sans-serif;
}

.font-medium {
  font-family: 'ClashDisplayM', sans-serif;
}

.font-regular {
  font-family: 'ClashDisplayR', sans-serif;
}

.font-light {
  font-family: 'ClashDisplayL', sans-serif;
}

.font-jet {
  font-family: 'JetBrainsM', sans-serif;
}